body {
    background-color: lightgray;
}
h1 {
    color: purple;
}
.friend {
    background-color: paleturquoise;
}
h3 {
    text-transform: uppercase;
}
#button {
    background-color: lightcoral;
    font-size: 2em;
    padding: 0.5em 1em;
}